.filters-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.filters-component .filters-box {
    width: 100%;
}

.filters-component .filters-box label {
    text-transform: capitalize;
    letter-spacing: .1rem;
}

.filters-component .filters-box input {
    width: 100%;
    accent-color: #0ef;
}